@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
html, body {
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
    overflow: hidden
}
.card {
    transform: rotateY(0deg);
    /* transform: rotateY(0deg) translate(-50%, -50%); */
    transition: 1000ms;
    background-color: #696969;
    width: 500px;
    height: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
}
.flip {
    transform: rotateY(180deg);
   /* -webkit-transform: rotateY(180deg); 
   transform: rotateY(180deg) translate(-50%, -50%);
   */ 
    -webkit-backface-visibility: hidden; 
    user-select: none;

}
.hide-button { 
    cursor: pointer; display: none;
}
.container {
    width: 1200px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.clickclose {
    pointer-events: none;
}
/*.topleft {
    left: 25%;
    top: 25%;
    position: absolute;
}
.topright {
    right: 25%;
    top: 25%;
    position: absolute;
}
.bottomleft {
    left: 25%;
    bottom: 25%;
    position: absolute;
}
.bottomright {
    right: 25%;
    bottom: 25%;
    position: absolute;
}*/
.title {
    color: white;
    font-size: 77px;
    position: absolute;
    /*top: calc(50% - 10px);*/
    left: calc(50% - 247px);
    user-select: none;
    font-family: 'Roboto Condensed';

}
/* Button! */
.example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    user-select: none;
    }
/* Button hover */
.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

/* Close button */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.centered {
    padding:0 100px;
    max-width: 1680px;
    margin:0 auto;
  }
  .center-align {
    text-align:center;
  }
  .right-align {
    text-align:right;
  }
  .darkBack {
    background:#252E35;
  }
  .lightBack {
    background:#444C54;
  }
  
  .footerContainer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 1680px;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  .footer {
    margin:0;
    padding:0;
    display:flex;
    height: 130px;
    width: 1680px;
  }
  
  .footer div {
    display:inline-block;
    flex-grow:1;
    flex-basis: 0;
    text-align:center;
  }
  
  .footerLink {
    color:white;
    text-decoration:none;
    display:block;
    width:100%;
    height: 80px;
    line-height: 130px;
    
    flex-grow: 1;
    
    position: relative;
    
    transition: background-color 0.1s ease-in-out;
  }
  
  .footerLink:hover {
    background-color:#13171B;
  }
  
  .footerLink:before {
    content: '';
    display: block;
    width: 100%;
    height: 0%;
    
    box-sizing: border-box;
    
    position: absolute;
    left: 0px;
    top: 50%;
    
    border-style: dashed;
    border-width: 0px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: transparent;
    
    
    background-color: transparent;
    
    transition: height 0.3s ease-in-out, border 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .footerLink:hover:before {
    height: 100%;
    top: 0%;
    border-color: #1F8C68;
    
    transition: height 0.3s ease-in-out, border 0.3s ease-in-out, top 0.3s ease-in-out;
  }