@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');


html, body {
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
    overflow: hidden
}
.card {
    transform: rotateY(0deg);
    /* transform: rotateY(0deg) translate(-50%, -50%); */
    transition: 1000ms;
    background-color: #696969;
    width: 500px;
    height: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    border-radius: 15px;
    padding: 2em;
}
.flip {
    transform: rotateY(180deg);
   /* -webkit-transform: rotateY(180deg); 
   transform: rotateY(180deg) translate(-50%, -50%);
   */ 
    -webkit-backface-visibility: hidden; 
    user-select: none;

}
.hide-button { 
    cursor: pointer; display: none;
}
.container {
    width: 600px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 31%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.clickclose {
    pointer-events: none;
}
.title {
    color: white;
    font-size: 77px;
    position: absolute;
    /*top: calc(50% - 10px);*/
    left: calc(50% - 242px);
    user-select: none;
    font-family: 'Roboto Condensed';

}
/* Button! */
.example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    user-select: none;
    }
/* Button hover */
.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

/* Close button */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
/* FOOOOOOTER */
a.a {
  border-bottom: 0px solid rgba(0,0,0,0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
  display: inline-block;
  height: 20px;
  padding: 25px;
  position: relative;
  transition: .2s ease-in;
  width: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin: 0;
  padding: 0;
}
div.social-media-links {
  background: #191D4C;
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
}
footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  background: black;
}
img {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}
a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout(#0096a1, 75), 0 83px 4px 0px fadeout(#0096a1, 5);
}
.copyright {
  color: white;
  position: absolute;
  bottom: 50%;
  left: 15px;
  transform: translate(0, 50%);
}
/* more card stuff */
div.scroll { 
  margin:4px, 4px; 
  padding:4px; 
  width: 500px;
  height: 500px;
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
}